* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*  Commons
*/
.container-big {
    width: 65vw;
    margin: 0 auto;
}
.flex-container {
    display: flex;
}

header nav  ul {
    list-style: none;
}



.btn {
    cursor: pointer;
    background-color: #0061FF;
    border: 1px solid #0061FF;
    padding: 15px 15px;
    color: white;
    
}

.col-left {
    width: 30%;
}

.col-right {
    width: 70%;
}

[class^="col-"] > img {
    width: 100%;
}
/*
*  Typo
*/
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 74px;
    font-weight: 700;
    letter-spacing: 8%;
}

h1, h2 {
    margin-bottom: 70px;
}

/*
*  Header
*/
header {
position: fixed;
width: 100vw;
top: 0;
left: 0;
box-shadow: 0 0px 1px #939393 ;
}

.main-menu {
    justify-content: space-between;
    width: 100%;
}

/* Gestione spazi diversi tra link */
nav.main-menu ul:first-child  li:not(:first-of-type) {
    padding: 25px 40px 25px 0;
}

nav.main-menu ul:first-child li:first-of-type {
    padding: 25px 40px 25px 20px;
}

nav.main-menu div ul:first-child li {
    padding: 25px 40px 25px 0;
}

nav.main-menu div ul:last-child li {
    padding: 25px 20px 25px 0;
}

nav.main-menu div ul:last-child li:last-child {
    padding: 17px 20px 25px 0;
}
/* /Gestione spazi diversi tra link */

/* Link header */
header nav ul a {
    text-decoration: none;
    color: #000;
}

header nav ul a:hover {
    text-decoration: underline solid #000;
    text-underline-offset: 1em;
}

header .btn {
    padding: 10px 16px;
    color: #fff;
}
/* /Link header */



/*
*  Main sito
*/

/* Banner */
.banner {
    background-color: #B4D0E7;
    margin-top: 80px;
    padding-top: 100px;
}

.banner .flex-container {
    column-gap: 20px;
}

.banner .btn {
    margin: 34px 0;
}

.banner i {
    font-size: 74px;
    margin-top: 75px;
}